<template>
  <div class="chart"></div>
</template>

<script>
import {bb} from 'billboard.js';
export default {
  name: 'Chart',
  props: {
    loadedData: Object
  },
  watch:{
    loadedData (){
      let namesToRemove = [];
      this.chart.data().forEach((item)=>{
        !this.loadedData[item.id] && namesToRemove.push(item.id)
      })
      namesToRemove.length && this.chart.unload({
        ids: namesToRemove
      })
      this.chart.load({
        columns: this.loadedDataProcessed
      })
    }
  },
  computed: {
    loadedDataProcessed() {
      let array = [];
      Object.keys(this.loadedData).map((key) => {
        array.push(this.loadedData[key]);
      });
      return array;
    }
  },
  mounted() {
    this.chart = bb.generate({
      bindto: ".chart",
      data: {
          columns: this.loadedDataProcessed || [],
          types: {
            data1: "line",
            data2: "area-spline"
          },
          onclick: (e)=>{
            this.$emit('chartClickHandler', `${e.id} - ${e.value}`);
          }
      }
  });
  }  
}
</script>

