<template>
  <div id="app">
    <div class="left">
      <button v-for="(index) in [0,1,2]" :key="index" @click="toggleData(index)" class="button">
        Data set {{index+1}}
      </button>
      <input type="text" v-model="dot" placeholder="Кликните по графику чтобы получить значение">
    </div>
    <Chart :loadedData="loadedData" @chartClickHandler="chartClickHandler"></Chart>
  </div>
</template>

<script>
import Chart from './components/Chart.vue'

const DATA = [
  ["data1", 30, 200, 100, 170, 150, 250],
  ["data2", 130, 100, 140, 35, 110, 50],
  ["data3", 13, 1, 10, 250, 210,  90]
]

export default {
  name: 'app',
  components: {
    Chart
  },
  data () {
    return {
      loadedData: {},
      dot: ''
    }
  },
  methods: {
    toggleData (i) {
      if (!this.loadedData[DATA[i][0]]) {
        this.$set(this.loadedData, DATA[i][0], DATA[i]);
      } else {
        // this.$delete(this.loadedData, DATA[i][0]);
      }
    },
    chartClickHandler (info) {
      this.dot = info;
    }
  }
}
</script>
<style lang="scss" src="./app.scss"></style>