body {
    margin: 0;
}

#app {
    text-align: left;
    min-width: 1000px;
    .left {
        display: inline-flex;
        width: 300px;
        min-height: 100vh;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        vertical-align: top;

        .button {
            display: inline-block;
            width: 90%;
            margin-bottom: 10px;
        }

        input {
            width: 90%;
            font-size: 12px;
        }
    }
    .chart {
        vertical-align: top;
        min-width: 700px;
        min-height: 100vh;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        display: inline-flex;
    }
}